json/*.json
# python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version
#build
build/
# logs
logs/
# data
data/
# env
env/
# .env
.env
# distribution
dist/
# macOS
.DS_Store
#logs
.log